

$medidas:(
    p1:100px,
    p2:50px,
    p3:20px,
);

.hijoAsideIndex1__titulo{
    margin-top: auto;
    margin-bottom: auto;
}


.asideCatedras{
    padding-left: 100px;

    margin-top: 50PX;

}

.imagenServicios { 
    padding-top: 100px; 
    padding-left: 100px; 
    margin: 0 100% 0; 
}


.hijoAsideIndex2__titulo{
    padding-top: 10px + 10;
    margin-bottom: 50px * 2;
}