.hijoMain1__titulo{
    padding-top: 20px;
}
.hijoMainImagen{
    display: block;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: rotateY(29deg);
} 
.tituloServicio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contacto{
    
}


